<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="x-ua-compatible" content="IE=Edge">
<meta name="viewport" content="width=device-width, user-scalable=no">
<title>Title</title>
<link rel="stylesheet" href="./bs/css/bootstrap.min.css">
<link rel="stylesheet" href="./css/common.css">
<link rel="stylesheet" href="./css/index.css">
<script src="js/jquery.min.js"></script>
</head>
<body>
<header id="header">
	<div class="container">
		<div class="header-wrap">
			<div class="logo">
				<img src="./images/logo.png" alt="12323213">
			</div>
			<nav class="nav main">
				<a href="#" class="nav-btn active">主页</a>
				<a href="#" class="nav-btn">作品展示</a>
				<a href="#" class="nav-btn">知识库</a>
				<a href="#" class="nav-btn">关于我</a>
				<a href="#" class="nav-btn">帮助</a>
				<div class="box-border">
					<nav class="nav">
						<a href="#" >主页</a>
						<a href="#">作品展示</a>
						<a href="#">知识库</a>
						<a href="#">联系我</a>
						<a href="#">帮助</a>
					</nav>
				</div>
			</nav>
		</div>
	</div>
	<div class="user-wrap">
		<div class="user-model landing hide">
			<a href="#" class="user-info">
				<p class="user-avatar">
					<img src="./images/avatar_default.jpg" alt="">
				</p>
				<span>admin</span>
			</a>
			<a href="#" class="logout">退出</a>
		</div>
		<div class="user-model ">
			<div class="no-landing">
				<a href="javascript:;">登陆</a>
				<a href="javascript:;">注册</a>
			</div>
		</div>
	</div>
</header>
<section id="banner">
	<ul class="list">
		<li>
			<img src="images/banner1.jpg" alt="">
		</li>
	</ul>
</section>
<section id="main">
	<div class="container">
		<div class="activity">
			<div class="center">
				<div class="bar"></div>
				<div class="text">作品展示</div>
				<div class="bar"></div>
			</div>
			<a href="#" class="more">更多>></a>
		</div>
	</div>
	<div class="container">
		<div class="works-list">
			<div class="work-row">
				<div class="work">
					<a href="#" class="panel">
						<img src="./images/works.jpg" alt="">
					</a>
				</div>
				<div class="work">
					<a href="#">
						<img src="./images/works.jpg" alt="">
					</a>
				</div>
			</div>
			<div class="work-row">
				<div class="work">
					<a href="#">
						<img src="./images/works.jpg" alt="">
					</a>
				</div>
				<div class="work">
					<a href="#">
						<img src="./images/works.jpg" alt="">
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-lg-8">
				<article class="article-main">
					<h3 class="common-title">
						<span class="big-bar"></span>
						<span class="small-bar"></span>
						<p class="text">文章列表</p>
						<a href="#" class="more">更多>></a>
					</h3>
					<ul class="article-list">
						<li class="article-item">
							<div class="img-box">
								<img src="./images/article-default.jpg" alt="">
							</div>
							<div class="text-main">
								<h4 class="title">
									<a href="#">文章标题</a>
								</h4>
								<p class="article-category">
									<span>分类：</span>
									<a href="#">Vue</a>
								</p>
								<p class="article-description clearfix">
									<span class="title">
										简介：
									</span>
									<a href="#" class="description">
										内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容
									</a>
								</p>
								<p class="article-author">
									<span class="title">作者：</span>
									<a href="#">何新兴</a>
								</p>
								<p class="other-info">
									<span class="browser-num">
										<i class="glyphicon glyphicon-eye-open"></i>
										<em>浏览数量：3333</em>
									</span>
									<span>
										<i class="glyphicon glyphicon-comment"></i>
										<em>
											评论：3条
										</em>
									</span>
									<span class="update-time">
										<i class="glyphicon glyphicon-dashboard"></i>
										<em>更新时间：2019-6-11</em>
									</span>
								</p>
							</div>
						</li>
						<li class="article-item">
							<div class="img-box">
								<img src="./images/article-default.jpg" alt="">
							</div>
							<div class="text-main">
								<h4 class="title">
									<a href="#">文章标题</a>
								</h4>
								<p class="article-category">
									<span>分类：</span>
									<a href="#">Vue</a>
								</p>
								<p class="article-description clearfix">
									<span class="title">
										简介：
									</span>
									<a href="#" class="description">
										内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容
									</a>
								</p>
								<p class="article-author">
									<span class="title">作者：</span>
									<a href="#">何新兴</a>
								</p>
								<p class="other-info">
									<span class="browser-num">
										<i class="glyphicon glyphicon-eye-open"></i>
										<em>浏览数量：3333</em>
									</span>
									<span>
										<i class="glyphicon glyphicon-comment"></i>
										<em>
											评论：3条
										</em>
									</span>
									<span class="update-time">
										<i class="glyphicon glyphicon-dashboard"></i>
										<em>更新时间：2019-6-11</em>
									</span>
								</p>
							</div>
						</li>
						<li class="article-item">
							<div class="img-box">
								<img src="./images/article-default.jpg" alt="">
							</div>
							<div class="text-main">
								<h4 class="title">
									<a href="#">文章标题</a>
								</h4>
								<p class="article-category">
									<span>分类：</span>
									<a href="#">Vue</a>
								</p>
								<p class="article-description clearfix">
									<span class="title">
										简介：
									</span>
									<a href="#" class="description">
										内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容
									</a>
								</p>
								<p class="article-author">
									<span class="title">作者：</span>
									<a href="#">何新兴</a>
								</p>
								<p class="other-info">
									<span class="browser-num">
										<i class="glyphicon glyphicon-eye-open"></i>
										<em>浏览数量：3333</em>
									</span>
									<span>
										<i class="glyphicon glyphicon-comment"></i>
										<em>
											评论：3条
										</em>
									</span>
									<span class="update-time">
										<i class="glyphicon glyphicon-dashboard"></i>
										<em>更新时间：2019-6-11</em>
									</span>
								</p>
							</div>
						</li>
						<li class="article-item">
							<div class="img-box">
								<img src="./images/article-default.jpg" alt="">
							</div>
							<div class="text-main">
								<h4 class="title">
									<a href="#">文章标题</a>
								</h4>
								<p class="article-category">
									<span>分类：</span>
									<a href="#">Vue</a>
								</p>
								<p class="article-description clearfix">
									<span class="title">
										简介：
									</span>
									<a href="#" class="description">
										内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容
									</a>
								</p>
								<p class="article-author">
									<span class="title">作者：</span>
									<a href="#">何新兴</a>
								</p>
								<p class="other-info">
									<span class="browser-num">
										<i class="glyphicon glyphicon-eye-open"></i>
										<em>浏览数量：3333</em>
									</span>
									<span>
										<i class="glyphicon glyphicon-comment"></i>
										<em>
											评论：3条
										</em>
									</span>
									<span class="update-time">
										<i class="glyphicon glyphicon-dashboard"></i>
										<em>更新时间：2019-6-11</em>
									</span>
								</p>
							</div>
						</li>
						<li class="article-item">
							<div class="img-box">
								<img src="./images/article-default.jpg" alt="">
							</div>
							<div class="text-main">
								<h4 class="title">
									<a href="#">文章标题</a>
								</h4>
								<p class="article-category">
									<span>分类：</span>
									<a href="#">Vue</a>
								</p>
								<p class="article-description clearfix">
									<span class="title">
										简介：
									</span>
									<a href="#" class="description">
										内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容
									</a>
								</p>
								<p class="article-author">
									<span class="title">作者：</span>
									<a href="#">何新兴</a>
								</p>
								<p class="other-info">
									<span class="browser-num">
										<i class="glyphicon glyphicon-eye-open"></i>
										<em>浏览数量：3333</em>
									</span>
									<span>
										<i class="glyphicon glyphicon-comment"></i>
										<em>
											评论：3条
										</em>
									</span>
									<span class="update-time">
										<i class="glyphicon glyphicon-dashboard"></i>
										<em>更新时间：2019-6-11</em>
									</span>
								</p>
							</div>
						</li>
						<li class="article-item">
							<div class="img-box">
								<img src="./images/article-default.jpg" alt="">
							</div>
							<div class="text-main">
								<h4 class="title">
									<a href="#">文章标题</a>
								</h4>
								<p class="article-category">
									<span>分类：</span>
									<a href="#">Vue</a>
								</p>
								<p class="article-description clearfix">
									<span class="title">
										简介：
									</span>
									<a href="#" class="description">
										内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容
									</a>
								</p>
								<p class="article-author">
									<span class="title">作者：</span>
									<a href="#">何新兴</a>
								</p>
								<p class="other-info">
									<span class="browser-num">
										<i class="glyphicon glyphicon-eye-open"></i>
										<em>浏览数量：3333</em>
									</span>
									<span>
										<i class="glyphicon glyphicon-comment"></i>
										<em>
											评论：3条
										</em>
									</span>
									<span class="update-time">
										<i class="glyphicon glyphicon-dashboard"></i>
										<em>更新时间：2019-6-11</em>
									</span>
								</p>
							</div>
						</li>
					</ul>
				</article>
			</div>
			<div class="col-lg-4">
				<div class="self-main">
					<h3 class="common-title">
						<span class="big-bar"></span>
						<span class="small-bar"></span>
						<p class="text">最新留言</p>
						<a href="#" class="more">更多>></a>
					</h3>
					<div class="content-wrap">
						<ul class="content">
							<li class="bottom section">
								<p>111内容内容内容内容内容内容内容内容内容内内容内容内容内容内容内容内容内容内容内</p>
							</li>
							<li class="bottom section">
								<p>内容内容内容内容内容内容内容内容内容内内容内容内容内容内容内容内容内容内容内</p>
							</li>
							<li class="bottom section">
								<p>内容内容内容内容内容内容内容内容内容内内容内容内容内容内容内容内容内容内容内</p>
							</li>
							<li class="bottom section">
								<p>内容内容内容内容内容内容内容内容内容内内容内容内容内容内容内容内容内容内容内</p>
							</li>
							<li class="bottom section">
								<p>内容内容内容内容内容内容内容内容内容内内容内容内容内容内容内容内容内容内容内</p>
							</li>
							<li class="bottom section">
								<p>内容内容内容内容内容内容内容内容内容内内容内容内容内容内容内容内容内容内容内</p>
							</li>
						</ul>
					</div>
				</div>
				<div class="life-list">
					<h3 class="common-title">
						<span class="big-bar"></span>
						<span class="small-bar"></span>
						<p class="text">生活点滴</p>
						<a href="#" class="more">更多>></a>
					</h3>
					<ul class="list">
						<li class="life">
							<div class="img-box">
								<img src="./images/life_default.jpg" alt="">
							</div>
							<div class="text-box">
								<h4 class="text-title">标题内容</h4>
								<p class="text">内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容</p>
							</div>
						</li>
						<li class="life">
							<div class="img-box">
								<img src="./images/life_default.jpg" alt="">
							</div>
							<div class="text-box">
								<h4 class="text-title">标题内容</h4>
								<p class="text">内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容</p>
							</div>
						</li>
						<li class="life">
							<div class="img-box">
								<img src="./images/life_default.jpg" alt="">
							</div>
							<div class="text-box">
								<h4 class="text-title">标题内容</h4>
								<p class="text">内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容</p>
							</div>
						</li>
						<li class="life">
							<div class="img-box">
								<img src="./images/life_default.jpg" alt="">
							</div>
							<div class="text-box">
								<h4 class="text-title">标题内容</h4>
								<p class="text">内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容</p>
							</div>
						</li>
						<li class="life">
							<div class="img-box">
								<img src="./images/life_default.jpg" alt="">
							</div>
							<div class="text-box">
								<h4 class="text-title">标题内容</h4>
								<p class="text">内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容</p>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
<footer id="footer">
	<section class="top">
		<div class="nav-list">
			<span>友情链接：</span>
			<a href="http://www.taobao.com">淘宝</a>
			<em>|</em>
			<a href="http://www.163.com">网易</a>
			<em>|</em>
			<a href="http://www.sohu.com">搜狐</a>
			<em>|</em>
			<a href="http://www.qq.com">腾讯</a>
			<em>|</em>
			<a href="http://www.baidu.com">百度</a>
			<em>|</em>
		</div>
	</section>
	<section class="bottom">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="left main-box">
						<div class="center-wrap clearfix">
							<p>
								<em>工作地址：</em>
								<span>贵阳市云岩区栖霞小区33栋1单元802室</span>
							</p>
							<p>
								<em>对外网站：</em>
								<a href="http://www.xiaoxinxin.net.cn">http://www.xiaoxinxin.net.cn</a>
							</p>
							<p>
								<em>联系电话：</em>
								<span>18984043086</span>
							</p>
							<p>
								<em class="w3">联系人：</em>
								<span>何新兴</span>
							</p>
						</div>
					</div>
					
				</div>
				<div class="col-lg-6">
					<div class="right main-box">
						<div class="center-wrap clearfix">
							<p>
								<em>工作地址：</em>
								<span>贵阳市云岩区栖霞小区33栋1单元802室</span>
							</p>
							<p>
								<em>对外网站：</em>
								<a href="http://www.xiaoxinxin.net.cn">http://www.xiaoxinxin.net.cn</a>
							</p>
							<p>
								<em>联系电话：</em>
								<span>18984043086</span>
							</p>
							<p>
								<em class="w3">联系人：</em>
								<span>何新兴</span>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</footer>
<script src="js/main.js"></script>
</body>
</html>